/* #region 全体設定 */
:root {
    --primary-background: #0F172A;
    --primary-text: #F8FAFC;

    --secondary-background: #2f3847;
    --secondary-text: #94A3B8;

    --card-background: #20293a83;
}

* {
    box-sizing: border-box;
}
/* #endregion */

/* #region html */
html {
    background-color: var(--primary-background);
    color: var(--primary-text);
}
/* #endregion */

/* #region header */
header {
    text-align: center;
}
/* #endregion */

/* #region footer */
footer {
    text-align: center;
}
/* #endregion*/

/* #region img */
img {
    max-width: 100%;
    height: auto;
    padding: 2%;
}
/* #endregion */

/* #region a */
a {
    color: var(--secondary-text);
    text-decoration: none;
}

a:visited {
    color: var(--secondary-text);
}

a:hover {
    color: var(--primary-text);
}
/* #endregion */

/* #region bg-canvas */
#bg-canvas {
    position: fixed;        /* スクロールに追従 */
    top: 0;
    left: 0;
    width: 100vw;           /* vwはブラウザの画面幅に対する割合、よって画面幅全体まで広げる */
    height: 100vh;          /* vwはブラウザの画面の高さに対する割合、よって画面の高さ全体まで広げる */
    z-index: -1;            /* 描画優先順位を上げてオーバーレイ */
    /* pointer-events: none; */
}
/* #endregion */