/* #region 全体設定 */
* {
    box-sizing: border-box;
}
/* #endregion */

.root {
    display: grid;
    grid-template-columns: 200px auto;
}

.component {
    text-align: center;
}

.component.componentLeft {
    background-color: #ff0000;
}

.component.componentRight {
    background-color: #ffff00;
}

header {
    background-color: #ff0ff0;
    padding-top: 100px;
    margin: 0;
}

footer {
    background-color: #0f0ff0;
    padding-bottom: 100px;
    margin: 0;
}